<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <button v-bind:click="log()">click here</button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import storageService from '../services/storage/storage.service';
import loginHelper from '../services/login-helper/login-helper.service';
import LoginService from '../services/login/login.service';

@Component({
  components: {},
})
export default class Home extends Vue {
  public log() {
    const expiry = localStorage.getItem('token_expiry');
    if (expiry === null) {
      loginHelper.getInfo().subscribe({
        next: (response: any) => {
          if (response.data.message) {
            return;
          }
          storageService.setLocalStorage(response.data);
          LoginService.login();
          LoginService.logout();
        },
        error: error => {
          return { message: 'something went wrong cannot get info' };
        },
      });
    } else if (new Date(expiry) < new Date()) {
      loginHelper.getInfo().subscribe({
        next: (response: any) => {
          if (response.data.message) {
            return;
          }
          storageService.setLocalStorage(response.data[0]);
          LoginService.login();
          LoginService.logout();
        },
        error: error => {
          return { message: 'something went wrong cannot get info' };
        },
      });
    }
    return;
  }
}
</script>
